<html>
    <body>
        <style>
            .question {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .option {
                height: 60px;
                width: 300px;
                margin-left: 10px;
                background-color: rgba(0, 0, 255, 0.256);
            }
            .optionDiv {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
    </body>
</html>